# Python cache files
*.pyc
__pycache__/

# Environment variables file
.env

# Database files
db.sqlite3

# Local settings
local_settings.py  # if you have this file for local configurations

# Other files to ignore
*.log
*.pot
*.py[cod]
.venv/  # if you're using a virtual environment in this folder

migrations/

run
